.peer {
    padding: 12px;
}

.my-chat, .others-chat {
    border-radius: 15px;
    box-shadow: 5px 5px 5px #bbb;
    margin: 5px;
    padding: 20px;
}

.message-input {
	padding: 20px 0;
	margin: 0;
}

.chatbox {
	padding: 25px 0px;
}